/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(139, 78, 78);
    color: white; /* Mejor lectura sobre el fondo oscuro */
}

h1 {
    color: #fd0a0afa;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #00bfff; /* Color más claro para que resalte */
    font-weight: bold;
}

a:hover {
    color: #ff4500;
}

/* Estilo para los datos personales */
p strong {
    color: #ffcccb;
}